<!DOCTYPE html>
<!--[if lte IE 9]><html class="no-js is-ie"><![endif]-->
<!--[if gt IE 8]><!--><html class=no-js><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="description" content="Paving the Way For A More Transparent Nonprofit Sector">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">



	<title>Nonprofit Credit Score -- Free Financial Breakdown for Nonprofit Organizations</title>
	<link rel=stylesheet href="../static/css/main.css">
	<link rel=stylesheet href="../static/css/custom.css">
	<!--[if lte IE 8]>
	<link rel=stylesheet href="css/ie.css">
	<![endif]-->
		<script src="../static/js/vendor/modernizr.js"></script>

		<script src="../static/js/vendor/respond.min.js"></script>

		<script type="text/javascript">
			var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>

</head>

<body>

	<div class="level level-hero hero-home has-hint">


		<div class="hero-overlay visible-lg banner"></div>

<!-- 		<video loop id=bg-video class=fullscreen-video>
			<source src="http://alvarez.is/bt/appi.webm" type="video/webm">
			<source src="http://alvarez.is/bt/appi.mp4" type="video/mp4">

		</video> -->

		<div class="container full-height">
			<div class=v-align-parent>
				<div class=v-center>
					<div class="row">
						<div class="col-xs-10 col-sm-6">
							<h1 class="mb-10 heading">Nonprofit<span>Credit Score</span></h1>
							<div class="subheading mb-20">Free Financial Breakdown<br>for Nonprofit Organizations</div>
						</div>
					</div>
					<div>
						<a href="#app" class="page-scroll btn btn-lg btn-default btn-banner"><span class="glyphicon glyphicon-search"></span> Search Now</a>
						<a href="#mission" class="page-scroll btn btn-lg btn-default btn-banner"><span class="glyphicon glyphicon-book"></span> Learn More</a>
					</div>
				</div>
			</div>

			<div class=hint-arrow></div>
		</div>
	</div>

	<div id="app" class=level>
		<div class="container mb-100 xs-mb-40">
			<div class=row>
				<div class="col-sm-5 col-md-4 col-md-offset-1 col-sm-offset-1">
					<h1 class="mb-10 xs-mb-10 heading color-dark heading-bordered">Nonprofit<br>Search</h1>
				</div>
				<div class="col-sm-5 col-sm-offset-1 col-md-offset-2">
					<h2 class="w-300 color-dark mb-10 xs-mb-10">Search By</h2>
					<ul class="v-center text-left bullets">
						<li>Organization ID</li>
					</ul>
				</div>
			</div>
		</div>

<!-- Search Bar Code -->
		<div class="container mb-100 xs-mb-40">
			<div class="row">
		        <div class="col-sm-5 col-sm-offset-3 col-md-8 col-md-offset-2">
		            <div id="custom-search-input">
		                <form id="query" class="input-group col-md-12" action="/score" method="GET">
		                    <input name="key" id="key" type="text" class="form-control input-lg" placeholder="Enter Nonprofit ID" />
		                    <span class="input-group-btn">
		                        <button class="btn btn-info btn-lg" type="submit">
		                            <i class="glyphicon glyphicon-search"></i>
		                        </button>
		                    </span>
		                </form>
		            </div>
		        </div>
			</div>
		</div>
<!-- End Search Bar Code -->
		<div id="error" style="display: none;">
{% include 'notfound.html' %}
		</div>
		<div id="results" style="display: none;">
{% include 'score.html' %}
		</div>

	</div>



	<div id="mission" class="level level-img-right">

		<div class="container xs-mb-30 mission-description">
			<img class="img-right-sprite"  src="../static/img/girl.jpg" alt>

			<div class="row mb-30 xs-mb-20 heading-bordered">
				<div class="col-sm-6 col-lg-offset- col-lg-5">
					<h1 class="mb-20 xs-mb-10 heading color-dark">Our Goal</h1>
					<h2 class="w-300 color-dark mb-10">To add transparency to the nonprofit sector</h2>
				</div>
				<div class="col-sm-6 col-lg-offset-1 col-lg-5">

				</div>
			</div>


			<div class="row mb-60 xs-mb-20">
				<div class="col-sm-1">
				</div>
				<div class="mission-text col-sm-4 col-md-5">
					<p class="para">The nonprofit sector currently stands at about 5% or so of US GDP and hasn’t experienced any profound growth over the past several years. Donations are being scattered to many firms that support the same initiatives and firms are forced to squeeze their overhead costs until they are hardly able to operate (let alone expand their operations).</p><br>
					<p class="para">Nonprofit Credit Score was developed so donors could make more informed decisions when it comes to their donations. Our goal is to add more transparency to the nonprofit sectors by making it easy for anyone to interpret the financial health of a nonprofit organization by simply viewing their NPS. In addition, our hope is that the NPS will incentivize nonprofits to be more financially responsible.</p><br>
					<p class="para">Our NPS metric is calculated using an algorithm that takes into account the most important financial metrics from a nonprofit's Form 990, including operating reserve, growth in net assets, operating efficiency, and more.</p><br>
					<p class="para">We hope that you find Nonprofit Credit Score to be helpful in your decision-making process prior to donating. Making informed nonprofit decisions is one of the most important things donors can do in order to facilitate an efficient nonprofit sector.</p>
				</div>
			</div>
		</div>

	</div>


	</div>
	<div class="footer text-center row">
	<p class="fmenu align-left col-md-3">Nonprofit Credit Score (2016)</p>
	<p class="fmenu col-md-6">Made in Berkeley by <a href="http://haroonchoudery.com/">Haroon Choudery</a>, <a href="https://www.linkedin.com/in/lingyi-jerry-song-2836ba42">Jerry Song</a>, and <a href="https://www.ischool.berkeley.edu/people/alex-nocella">Alex Nocella</a></p>

	</div>


	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/dropdown.js"></script>
	<script src="../static/js/main.js"></script>
	<script src="../static/js/custom.js"></script>
	<script src="../static/js/jquery.easing.1.3.js"></script>

	<!-- //-end- concat_js -->




</body>
</html>
