{% block score %}
<!-- Search Output Code -->

	<div id="score">
		<div class="container mb-100 xs-mb-40">
			<div class=row>
				<div class="col-sm-12 col-md-12">
					<h1 id="total_score" class="mb-10 xs-mb-10 heading color-dark result">Score: Dummy<br class=hidden-xs></h1>
					<h2 class="mb-10 xs-mb-10 result">Organization Name</h2>
				</div>
			</div>
		</div>
		<div class="container mb-100 xs-mb-40">
			<div class=row>
				<div class="col-sm-12 col-md-12">
					<h2 class="mb-10 xs-mb-10 heading color-dark result">This score is based on numerous factors, including:</h2></br>
				</div>
			</div>
			<div class=row>
				<div class="col-sm-6 col-md-6">
					<h3 class="metric">Metric 1:</h3>
					<h3 class="metric">Metric 2:</h3>
					<h3 class="metric">Metric 3:</h3>
				</div>
				<div class="col-sm-6 col-md-6">
					<h3 class="metric">Metric 4:</h3>
					<h3 class="metric">Metric 5:</h3>
					<h3 class="metric">Metric 6:</h3>
				</div>
			</div>
		</div>
	</div>


<!-- Search Output Code -->
{% endblock %}