{% block score %}
<!-- Search Output Code -->
<div id="results" style="display: none;">
	<div id="score">
		<div class="container mb-100 xs-mb-40">
			<div class=row>
				<div class="col-sm-12 col-md-12">
					<h1 id="total_score" class="mb-10 xs-mb-10 heading color-dark result"><br class=hidden-xs><h1>
				</div>
			</div>
		</div>



	<div class="container mb-100 xs-mb-40">
			<div class=row>
				<div class="col-sm-12 col-md-12">
					<h2 class="mb-10 xs-mb-10 heading color-dark result">No Organization Found. Please Try Again.<br class=hidden-xs></h2>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- Search Output Code -->
{% endblock %}
