.level-img-right > .container {
margin-top: 0px;
width: auto;
}

.glyphicon {
	color: #2196F3;
}

.level-hero .subheading {
	color: #FFF;
}

.level-hero .heading {
	color: #FFF;
}

a[id = "app" ]:target ~ #main article.panel {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );