@font-face {
font-family: 'ProximaNovaBold';
src: url("../fonts/Proxima-Nova-Bold.otf") format("opentype");
}

@font-face {
font-family: 'ProximaNova';
src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
font-family: 'GraublauWeb';
font-weight: bold;
src: url("../fonts/lmroman10-regular.otf") format("opentype");
}

*{
	font-family: 'ProximaNova';
}


@media (max-width: 972px){
	.mission-text{
		width: auto;
	}
}




h1 br{
		font-family: 'ProximaNovaBold';
}

p{
	font-family: 'GraublauWeb';
	color: black;
}

.container.xs-mb-30.mission-description{
	padding-bottom: 0px;
}


.heading-bordered-indent {
	padding-left: 50px;
}

h1#total_score {
	color: #2196F3;
}

.level-img-right > .container {
margin-top: 0px;
width: auto;
}

.img-right-sprite {
	height: auto;
}

.glyphicon {
	color: #2196F3;
}

.level-hero .subheading {
	font-family: 'ProximaNova';
	color: #FFF;
}

.level-hero .heading {
	font-family: 'ProximaNovaBold';
	color: #FFF;
}

.level-hero .heading span {
	font-family: 'ProximaNovaBold';
	color: #FFF;
}

#app.level {
	padding: 8.364rem 0 12.273rem;
}

.metric{
    padding: 30px;
}

@media ( max-width: 767px ) {
	.bullets {
		padding-top: 40px;
		padding-bottom: 20px;
  		position: relative;
  		left: 50%;
	}
}

@media ( min-width: 768px ) and ( max-width: 1380px ) {
	html {
	    font-size: inherit;
	}
}